$primary: #FFD700; 
$secondary: #0033A0; 
$danger: #CE1126; 

@import "~bootstrap/scss/bootstrap";
@import 'responsive';


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }